.m-input {
    background-color: #fff;
    padding: 0;
}

.ms-editor {
    border-radius: 3.5px;
}

.ms-editor .border:hover {
    border-color: #1a73e8;
}

.ms-input-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    padding: 9px 12px;
    background: 0 0;
    min-height: 34px;
}

.ms-input-item:focus {
    outline: none;
}

.ms-editor .border:not(.error):focus-within {
    border-color: #1a73e8;
}

.ms-checkbox input:checked~.checkmark {
    background: url(../../assets/icons/ic_checkbox_active.5a4982e1.svg);
}

.checkmark {
    display: inline-block;
    background: url(../../assets/icons/ic_checkbox_gray.545380ea.svg);
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    position: relative;
}

input:not(:disabled):not(:checked):hover~.checkmark {
    cursor: pointer;
    background: url(../../assets/icons/ic_checkbox_hover.d04300f4.svg);
}

input:not(:disabled):not(:checked):focus~.checkmark {
    background: url(../../assets/icons/ic_checkbox_hover.d04300f4.svg);
}

.checkmark-temp input:not(:disabled):not(:checked):hover~.checkmark {
    background: url(../../assets/images/CeGo_Sprites.f3e906b1.svg);
    background-position: -544px -144px;
}

input:checked:disabled~.checkmark {
    background: url(../../assets/icons/ic_checkbox_disabled_active.c6062b71.svg);
}