tr.loading td {
    background-color: antiquewhite;
    background-image: linear-gradient(to right, transparent 0, rgb(238, 236, 236));
    background-size: 200% 100%;
    color: transparent;
    animation: loading 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

tr.loading td {
    pointer-events: none;
}

tr.loading td.multiple-cell>div {
    visibility: hidden;
}

tr.loading td .inactive-icon {
    visibility: hidden;
}


/* tr.loading td {
    background: #F7F9FA;
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
    background-size: 600px;
    animation: shine-lines-table 1.6s infinite linear;
} */

@keyframes loading {
    0% {
        background-position: 0;
    }

    50% {
        background-position: -30%;
    }

    80% {
        background-position: -100%;
    }

    100% {
        background-position: -200%;
    }
}


@keyframes shine-lines-table {
    0% {
        opacity: 0.4;
    }

    40% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.4;
    }
}