.m-toast-box {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 16px rgb(23 27 42 / 24%);
    width: 400px;
    height: 56px;
    left: 50%;
    top: 15px;
    transform: translate(-50%);
}

.m-toast-box .m-toast {
    padding-left: 16px;
}

.m-toast-box .m-toast .toast-content {
    font-size: 14px;
}